<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
    <link rel="stylesheet" href="../build/css/intlTelInput.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Views</title>
  </head>
  <body>
    	<div class="container-fluid" id="primero">
        <a href="./../index.html" class="previeus col-xs-1 ">&#60;</a>
        <div class="header col-xs-10 ">
          <h2 class="add-phone"><strong> Sing Up</strong></h2>
          <h3 class="">Join now for free ride credit</h3>
        </div>
        <hr>
        <!--Div banderas-->
        <div class="banderas col-xs-10 col-sm-10 col-xs-offset-2 col-sm-offset-2">
          <input type="tel" id="input-phone" placeholder="Escribe 10 dígitos">
        </div>
        <h3 class="ad-text">We`ll send a text to verify your phone</h3>
       <button id="btn-next" class="submit btn-default col-xs-8 col-xs-offset-2 next-button" type="btn" disabled><a href="view2.html">Next</a></button>
     </div>

      <!--jquery, bootstrap y js -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="../build/js/intlTelInput.js"></script>
      <script type="text/javascript" src="../js/app.js">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
