<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./../build/css/intlTelInput.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./../css/main.css">
    <title>Views</title>
  </head>
  <body>
    <div class="container-fluid">
    	<div class="div2" id="segunda">
          <a href="./views.html" class="previeus col-xs-1 ">&#60;</a>
          <div class="header col-xs-10 ">
            <h2 class="add-phone"><strong> Verify phone number</strong></h2>
            <h3 class="">Join now for free ride credit</h3>
          </div>
          <hr>
        </div>
      <!--form LAB  -->
        <form class="form-inline col-xs-9 col-xs-offset-3">
          <div class="form-group">
            <label for="exampleInputName2">LAB</label>
            <input type="text" class=" " id="input-cod" placeholder="---">
          </div>
          <p>Enter the code ent to +52</p>
          <button id="btn-cod"  class="btn col-xs-4 col-xs-offset-1" type="btn" disabled><a href="view3.html">Resend code</a></button>
        </form>
      </div>


      <!--jquery, bootstrap y js -->
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src = "http://code.jquery.com/jquery-latest.min.js"></script>
      <script src="../build/js/intlTelInput.js"></script>
      <script type="text/javascript" src="../js/app.js">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
